{% extends "BlogBundle::layout.html.twig" %}

      {% block page_title %}About Us{% endblock %}

      {% block content %}
          <article>
              <div class="continer">
                  <div class="content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed nisl ac nibh convallis
                          dictum. Sed mollis dolor facilisis gravida aliquam. Phasellus eu lorem mi. Fusce ultrices
                          volutpat mollis. Aenean egestas orci et nunc tincidunt placerat. In fermentum finibus
                          consectetur. Aliquam erat volutpat. In tempus dapibus sem, ac imperdiet augue auctor a. Mauris
                          id nunc vel massa tincidunt lobortis eu quis tellus. Quisque diam ex, tristique et commodo et,
                          rhoncus sed urna. Pellentesque auctor ullamcorper metus ut pretium. Morbi in posuere elit.
                          Nunc aliquet aliquet lacus, pulvinar dictum purus rutrum non.</p>
                      <p>Duis et dui non odio suscipit iaculis sed vel velit. Donec dignissim facilisis mattis. Proin
                          nec mi sed neque mollis maximus vitae ut risus. Suspendisse
                          potenti. Aliquam molestie tortor cursus enim vulputate condimentum. Aenean eleifend mi a est
                          tincidunt rhoncus. Quisque et ante euismod, condimentum est nec, placerat mauris. Fusce quis
                          nibh
                          arcu. Phasellus porta neque eu augue sollicitudin, a auctor massa elementum. Pellentesque ac
                          enim
                          mollis, dignissim ipsum sed, rutrum nisi. Phasellus et lectus non urna euismod pulvinar
                          posuere
                          tempor turpis. Curabitur id ipsum ex. Donec quis ante lobortis, pretium ipsum nec, viverra
                          ligula. Praesent sed posuere sem, in congue enim. Integer consectetur nisl massa, ac volutpat
                          arcu accumsan ut. Maecenas purus nunc, sodales ut dui ac, ullamcorper ullamcorper tellus.</p>
                  </div>
              </div>
          </article>
      {% endblock %}

