{% extends "::base.html.twig" %}

 {% block body %}

     {% block main_menu %}
        <ul>
            <li><a href="{{ path("homepage") }}">Главная</a></li>
            <li><a href="{{ path("blog_teaser") }}">Блог</a></li>
            <li><a href="{{ path("page_about") }}">О нас</a></li>
        </ul>
     {% endblock %}

     <div class="mr-page-title">
         <h1>{% block page_title %}{% endblock %}</h1>
     </div>

     {% block content %}
     {% endblock %}
 {% endblock %}