{% extends "::base.html.twig" %}
  {% block body %}
      <div class="mr-page-title">
          <h1>Блог</h1>
      </div>
      {% for article in articles %}
          <article>
            

          </article>
      {% endfor %}
  {% endblock %}