{% extends "BlogBundle::layout.html.twig" %}

      {% block page_title %}{{ article.title }}{% endblock %}

      {% block content %}
          <article>
              <div class="continer">
                  <div class="content">
                      {{ article.body|raw }}
                  </div>

                  <div class="date">
                      {{ article.created|date("d-m-Y H:i") }}
                  </div>
              </div>

          </article>
      {% endblock %}

